<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
</head>
<div class="h-screen w-screen flex flex-col justify-center items-center rounded shadow-lg">
  <body class="text-center">
      <h1 class="text-4xl font-bold">Login</h1>
      <br>
      <div class="flex flex-col justify-center items-center text-xl p-4">
        <form action="{{ url_for('login') }}" method="POST">
            <label>Username</label>
            <br>
            <input class="border rounded-full" type="text" name="username" required>

            <br>

            <label>Password</label>
            <br>
            <input class="border rounded-full" type="password" name="password" required>

            <br>

            <button class="text-mist-700 p-5 hover:text-mist-500" type="submit">Login</button>
        </form>
      </div>
      <p class="text-mist-700">or <a href="{{ url_for('register') }}">create an account</a></p>
    </body>
</div>
</html>
