<!DOCTYPE html>
<!--
Steven Wu, Alexandru Cimpoiesu, Jiefeng Ou, Cindy Liu
SubwayHorse
SoftDev
P04: Makers Makin' It, Act II - The Seequel
04/22/2026
-->
<html>
<head>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <script type="module" src="static/js/d3.js"></script>
</head>
<body class="bg-stone-50">
  <nav class="fixed w-full top-0 z-50 bg-stone-200 shadow-md">
    <div class="flex flex-row justify-evenly py-4 text-2xl font-serif font-bold">
      {% if logged %}
        <a class="hover:text-slate-400" href="{{ url_for('logout') }}">LOG OUT</a>
      {% else %}
        <a class="hover:text-slate-400" href="{{ url_for('login') }}">LOG IN</a>
        <a class="hover:text-slate-400" href="{{ url_for('register') }}">REGISTER</a>
      {% endif %}
      <a class="hover:text-slate-400" href="{{ url_for('search') }}">SPECIFIC SEARCH</a>
    </div>
  </nav>
<div class="flex flex-row w-full h-full mt-16">
  <br>
  <div class="flex flex-col h-full w-1/5 items-center mt-3">
    <div class="my-3 h-4/5 w-4/5 items-center">
        {% if not logged %}
        <div class="font-semibold bg-yellow-200 text-center text-xl font-mono">LOG IN TO REMOVE ADS!</div>
          {% for ad in ads %}
            <img src={{ad}}>
          {% endfor %}
        {% endif %}
    </div>
  </div>
  <div class="h-full w-3/5 items-center text-center">
    <select id="x_axis">
      <option value="fiscal_year">fiscal_year</option>
      <option value="payroll_number">payroll_number</option>
      <option value="agency_name">agency_name</option>
      <option value="last_name">last_name</option>
      <option value="first_name">first_name</option>
      <option value="mid_init">mid_init</option>
      <option value="agency_start_date">agency_start_date</option>
      <option value="work_location_borough">work_location_borough</option>
      <option value="title_description">title_description</option>
      <option value="leave_status_as_of_june_30">leave_status_as_of_june_30</option>
      <option value="base_salary">base_salary</option>
      <option value="pay_basis">pay_basis</option>
      <option value="regular_hours">regular_hours</option>
      <option value="regular_gross_paid">regular_gross_paid</option>
      <option value="ot_hours">ot_hours</option>
      <option value="total_ot_paid">total_ot_paid</option>
      <option value="total_other_pay">total_other_pay</option>
    </select>
    <select id="y_axis">
      <option value="fiscal_year">fiscal_year</option>
      <option value="payroll_number">payroll_number</option>
      <option value="agency_name">agency_name</option>
      <option value="last_name">last_name</option>
      <option value="first_name">first_name</option>
      <option value="mid_init">mid_init</option>
      <option value="agency_start_date">agency_start_date</option>
      <option value="work_location_borough">work_location_borough</option>
      <option value="title_description">title_description</option>
      <option value="leave_status_as_of_june_30">leave_status_as_of_june_30</option>
      <option value="base_salary">base_salary</option>
      <option value="pay_basis">pay_basis</option>
      <option value="regular_hours">regular_hours</option>
      <option value="regular_gross_paid">regular_gross_paid</option>
      <option value="ot_hours">ot_hours</option>
      <option value="total_ot_paid">total_ot_paid</option>
      <option value="total_other_pay">total_other_pay</option>
    </select>
    <button id="loading_button">Load</button>
    <div id="container"></div>
  </div>
  <div class="flex flex-col h-full w-1/5 items-center mt-3">
    <div class="my-3 h-4/5 w-4/5 items-center">
        {% if not logged %}
        <div class="font-semibold bg-yellow-200 text-center text-xl font-mono">LOG IN TO REMOVE ADS!</div>
        {% for ad in ads2 %}
            <img src={{ad}}>
          {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
</body>
</html>
