<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
</head>
<body class="bg-stone-50">
  <nav class="fixed w-full top-0 z-50 bg-stone-200 shadow-md">
    <div class="flex flex-row justify-evenly py-4 text-2xl font-serif font-bold">
      {% if logged %}
        <a class="hover:text-slate-400" href="{{ url_for('logout') }}">LOG OUT</a>
      {% else %}
        <a class="hover:text-slate-400" href="{{ url_for('login') }}">LOG IN</a>
        <a class="hover:text-slate-400" href="{{ url_for('register') }}">REGISTER</a>
      {% endif %}
      <a class="hover:text-slate-400" href="{{ url_for('index') }}">MAP</a>
    </div>
  </nav>
  <div class="flex flex-row w-full pt-3 mt-16 items-center mx-3">
    <div class="h-full w-full flex flex-col items-center text-mono">
        <form action="{{ url_for('search') }}" method="POST">
          <div class="grid grid-cols-6 gap-x-2 gap-y-2">
            {% for query in queries %}
              <label class="h-full text-right">{{query}}: </label>
              <input class="px-3 border rounded-full text-lg w-full" type="text" id={{query}} name={{query}}>
            {% endfor %}
          </div>
          <div class="flex justify-center my-3">
            <button class="text-2xl border rounded-full border-4 border-stone-100 px-2 hover:text-gray-400" type="submit">SEARCH</button>
          </div>
        </form>
      {% if results %}
        <div class="mt-8 font-mono w-full">
          <h1 class="text-2xl text-center font-semibold my-3">top 50 Results</h1>
          <div class="overflow-auto max-h-[500px] border rounded-lg shadow-2xl shadow-blue-900">
            <table class="table-auto text-sm text-left">
              <thead class="sticky top-0 bg-slate-50">
                <tr>
                  {% for query in queries %}
                    <th class="px-4 py-3 border-b font-semibold whitespace-nowrap">
                      {{ query }}
                    </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in results %}
                  <tr class="hover:bg-gray-50">
                    {% for value in row %}
                      <td class="px-4 py-2 border-b whitespace-nowrap">
                        {{ value }}
                      </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</body>
